<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<!-- creator Rafa   -->
<hibernate-configuration>

	<session-factory>
		<property name="myeclipse.connection.profile">sisop_admin</property>
		<property name="connection.url">
			jdbc:mysql://localhost:3306/sisop_admin
		</property>
		<property name="connection.username">root</property>
		<property name="connection.password">sole</property>
		<property name="connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<!-- JDBC connection pool (use the built-in) -->
		<!--property name="connection.pool_size">1</property-->
	
		<!-- SQL dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
	
		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>
	
		<!-- Disable the second-level cache  -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
	
		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>
	
		<!-- Drop and re-create the database schema on startup -->
		<!-- property name="hbm2ddl.auto">create</property -->
	   
		
		<mapping resource="ar/com/grupo306/sisopadmin/persistence/mappings/domain/usuarios/Rol.hbm.xml" />		
		<mapping resource="ar/com/grupo306/sisopadmin/persistence/mappings/domain/usuarios/Permiso.hbm.xml" />
		<mapping resource="ar/com/grupo306/sisopadmin/persistence/mappings/domain/usuarios/Usuario.hbm.xml" />
		<mapping resource="ar/com/grupo306/sisopadmin/persistence/mappings/domain/encuestas/PlantillaEncuesta.hbm.xml" />
		<mapping resource="ar/com/grupo306/sisopadmin/persistence/mappings/domain/encuestas/PuntoAEncuestar.hbm.xml" />
		<mapping resource="ar/com/grupo306/sisopadmin/persistence/mappings/domain/encuestas/PlantillaEncuestada.hbm.xml" />   	   	
		<mapping resource="ar/com/grupo306/sisopadmin/persistence/mappings/domain/encuestas/PuntoEncuestado.hbm.xml" />
		<mapping resource="ar/com/grupo306/sisopadmin/persistence/mappings/domain/archivos/Archivo.hbm.xml" />
		<mapping resource="ar/com/grupo306/sisopadmin/persistence/mappings/domain/usuarios/componentesGrupo/Alumno.hbm.xml" />
		<mapping resource="ar/com/grupo306/sisopadmin/persistence/mappings/domain/trabajos/Consigna.hbm.xml" />
		<mapping resource="ar/com/grupo306/sisopadmin/persistence/mappings/domain/trabajos/PlantillaCorreccion.hbm.xml" />   	
		<mapping resource="ar/com/grupo306/sisopadmin/persistence/mappings/domain/trabajos/ItemPlantilla.hbm.xml" />   	
		<mapping resource="ar/com/grupo306/sisopadmin/persistence/mappings/domain/trabajos/Fase.hbm.xml" />  
		<mapping resource="ar/com/grupo306/sisopadmin/persistence/mappings/domain/trabajos/EvaluacionFase.hbm.xml" />  
		<mapping resource="ar/com/grupo306/sisopadmin/persistence/mappings/domain/trabajos/ItemEvaluacion.hbm.xml" />  
		<mapping resource="ar/com/grupo306/sisopadmin/persistence/mappings/domain/informacion/Informacion.hbm.xml" />  
		<mapping resource="ar/com/grupo306/sisopadmin/persistence/mappings/domain/mensajes/Mensaje.hbm.xml" />  
		<mapping resource="ar/com/grupo306/sisopadmin/persistence/mappings/domain/trabajos/Tp.hbm.xml" />
		
		
		<!-- Mapeos de testing. -->
	</session-factory>
	
</hibernate-configuration>